:root {
  --color-bg-title: #5882FA;
  --color-bg-normal: #E7E7EB;
  --color-bg-plus: #A9BCF5;
  --color-border-table: #0431B4;
  --color-border-cells: #AAAAAA;
  --color-text: #505050;
  --color-text-ontitle: #FFFFFF;
  --color-text-hover: #FF9900;
}

