:root {
  --color-bg-title: #E25252;
  --color-bg-normal: #EEE7DB;
  --color-bg-plus: #F5C8BF;
  --color-border-table: #A40808;
  --color-border-cells: #AAAAAA;
  --color-text: #505050;
  --color-text-ontitle: #FFFFFF;
  --color-text-hover: #FF9900;
}

