{% extends "base.html" %}
{% block content %}
<h3>CA: {{caname}}</h3>
      <div style="display: flex;justify-content: center;">
            <div>
               <form id="menu" method="POST" action=".">
                   <input type="submit" value="Home">
               </form>
            </div>
            <div>
              <form id="mess_to" method="POST" action="mess_to">
                   <input type="hidden" name="cname" value="{{cname}}">
                   <input type="hidden" name="ctype" value="{{ctype}}">
                   <input type="submit" value="message to">
              </form>
            </div>
            <div>
               <form id="back" method="GET" action="info">
		   <input type="hidden" name="file" value="{{ctype}}/{{cname}}/{{ctype}}.crt">
                   <input type="submit" value="Back">
               </form>
            </div>
      </div>
    <form id="miform" method="POST">
     <input type="hidden" name="cname" value="{{cname}}">
     <input type="hidden" name="cname2" value="{{cname2}}">
     <input type="hidden" name="ctype" value="{{ctype}}">
     <input type="hidden" name="ctype2" value="{{ctype2}}">
     <table><tr><th>To:</th><th colspan="2"> {{ctype}} {{cname}}</th></tr>
	   <tr>
	      <th>From:</th>
	      <td colspan="2">
		    <select name="theother">
		      {% for c in allcerts %}
		      <option value="{{c}}" {% if theother == c %}SELECTED{% endif %}>{{c}}</option>
		      {% endfor %}
		    </select>
	      </td>
	   </tr>
	   <tr><th>Message</th><th>Signature</th></tr>
	   <tr><td>
		<textarea id="message" name="message" cols="70" rows="8">{{message}}</textarea>
	   </td>
	   <td>
                <textarea id="signature" name="signature" cols="70" rows="8">{{signature}}</textarea>
           </td>
	   </tr>
           <tr><td colspan="2">
                <input type="submit" value="Ok" onclick="javascript:gogo()">
           </td></tr>
	   <tr><th>Result:</th><td>
               {% if res_dec != '' %}
	       <h6>Decrypted message for {{ctype}} {{cname}}</h6>
                 <pre>{{res_dec}}</pre>
               {% endif %}
	       {% if res_verif  != '' %}
	       <h6>Signature from {{theother}} </h6>
	         <pre>{{res_verif}}</pre>
               {% endif %}
	   </td></tr>
	  </table>
    </form>
{% endblock %}
